secrets/** filter=git-crypt diff=git-crypt
autoload_scripts/**/*.secret.sh filter=git-crypt diff=git-crypt
autoload_scripts/**/*.secret.bash filter=git-crypt diff=git-crypt
autoload_scripts/**/*.secret.zsh filter=git-crypt diff=git-crypt
helper_scripts/**/*.secret.sh filter=git-crypt diff=git-crypt
helper_scripts/**/*.secret.bash filter=git-crypt diff=git-crypt
helper_scripts/**/*.secret.zsh filter=git-crypt diff=git-crypt
.config/exercism/user.json filter=git-crypt diff=git-crypt
todos/**/* filter=git-crypt diff=git-crypt
ansible/**/* filter=git-crypt diff=git-crypt
helpers/**/*.secret.* filter=git-crypt diff=git-crypt
.config/fish/conf.d/abbreviations.fish filter=git-crypt diff=git-crypt
