set easymotion
set surround
set multiple-cursors
set commentary
set ReplaceWithRegister
set highlightedyank

" PLEASE STOP BEEPING
set visualbell

" Keep 5 line padding on cursor
set scrolloff=5

" AceJump
" Press `f` to activate AceJump
map f :action AceAction<CR>
" Press `F` to activate Target Mode
map F :action AceTargetAction<CR>
" Press `g` to activate Line Mode
map g :action AceLineAction<CR>
